.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 12px !important;
    padding-bottom: 0 !important;
    height: 38px;
}

.navbar {
    min-height: 28px !important;
    z-index: 0;
}
