body {
    /*background: -webkit-repeating-linear-gradient(135deg, #666, #666 25%, #5c5c5c 25%, #5c5c5c 50%, #666 50%) top left fixed;
    background: repeating-linear-gradient(-45deg, #666, #666 25%, #5c5c5c 25%, #5c5c5c 50%, #666 50%) top left fixed;
    background-size: 30px 30px;*/
    margin: 0px 0px 0px 0px;
    padding: 70px 0px 20px 0px;
    /*color:white;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-inverse {
     background-color: #f90; 
     border-color: whitesmoke; 
     color:black;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: gray;
}
.middle-content {
    width: 300px;
    display: inline-block;
    /*min-height: 400px;*/
    text-align: left;
    border: 1px silver solid;
    border-radius: 4px;
    background-color: #FFFAFA;
    padding: 0 15px;
}

.logo {
    background-image: url('../Images/logo.png');
    background-repeat: no-repeat;
    width: 59px;
}
.company-name{
    font-size:5em;
    color:gray;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.result-message {
    color: red;
}

.date {
    width: 140px;
}

.displayed-value {
    font-weight: normal;
}

select {
    height: 30px;
}

.inline-div {
    display: inline;
}

.text-danger {
    color: red;
}

.form {
    text-align: left;
}

.btn-full {
    width: 100%;
}

.btn-primary {
    color: black;
    background-color: #FFCC66;
    border-color: #FFCC33;
}

    .btn-primary:hover {
        color: black;
        background-color: #FF9900;
        border-color: #FF9900;
    }

.text-box:focus {
    border: 2px #FFCC66 solid;
}
.small-hr{
    width:100px;
}
.form-control-noborder{
    border:none;
    background-color:transparent;
    padding-bottom:15px;
}
.btn-default{
    background-color:whitesmoke;
}
.btn-default:hover{
    background-color:silver;
}