<div style="width:300px;" class="content-form">
    <h2>@Website.App_LocalResources.LanguageLabel.CreateAccount</h2>
    <p class="paragraph">
        @Website.App_LocalResources.LanguageLabel.SuccessfulRegister1
    </p>
    <p class="paragraph">
        @Website.App_LocalResources.LanguageLabel.SuccessfulRegister2
    </p>
</div>
<script>
    $("#btnLogin").hide();
</script>