@model string
<div style="width:315px;" class="content-form">
    <h2>@Website.App_LocalResources.LanguageLabel.CreateNewPassword</h2>
    @{
        string message = string.IsNullOrEmpty(Model) ? Website.App_LocalResources.LanguageLabel.ForgotPasswordMessage2 : Website.App_LocalResources.LanguageLabel.SuccessfulChangedPassword + ", <a href='home/index'>" + Website.App_LocalResources.LanguageLabel.Login + "</a>";
    }
    <p class="paragraph">
        @message
    </p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $("#btnLogin").hide();
</script>