<div style="width:315px;" class="content-form">
    <h2>@Website.App_LocalResources.LanguageLabel.CreateNewPassword</h2>
    <p class="paragraph">
        @Website.App_LocalResources.LanguageLabel.SuccessfulChangedPassword <a href='../../account/login'>@Website.App_LocalResources.LanguageLabel.Login</a>
    </p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $("#btnLogin").hide();
</script>