@model Website.Models.IndexDetailModel
<h2>Index URL</h2>
<div class="form" style="width: 600px;display: table-cell;">
    <div class="validation-summary-valid text-danger" data-valmsg-summary="true" id="messagePanel">
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>
    <input data-val="true" data-val-number="The field Code must be a number." data-val-required="The Code field is required." id="Id" name="Id" type="hidden" value="0">
    <div class="form-group">
        <label class="control-label" for="URL">URL</label>
        <input class="form-control text-box single-line" data-val="true" data-val-required="You must enter URL" id="URL" maxlength="200" name="URL" type="text" value="">
    </div>
    <div class="form-group">
        <label class="control-label" for="Title">Title</label>
        <input class="form-control text-box single-line" data-val="true" data-val-required="You must name the title" id="Title" maxlength="200" name="Title" type="text" value="">
    </div>
    <div class="form-group">
        <label class="control-label" for="ShortDescription">ShortDescription</label>
        @*<textarea class="form-control text-box single-line" data-val="true" data-val-required="You must name the Short Description" id="ShortDescription" maxlength="1000" name="ShortDescription" rows="5" />*@
    </div>
    <div class="form-group">
        <label class="control-label" for="Price">Price</label>
        <input class="form-control text-box single-line" data-val="true" data-val-number="The field Budget must be a number." data-val-regex="Price is invalid. Price must be a numberic and use a full stop (.) for decimals." data-val-regex-pattern="[0-9]*\.?[0-9]+" data-val-required="You must name the price" id="Price" maxlength="18" name="Price" type="text" value="0.00">
    </div>
    <div class="form-group">
        <label class="control-label" for="Picture">Picture</label>
        <div id="pictureResult"></div>
        <input type="file" id="Picture" class="form-control adv-file" accept="image/*">
    </div>
    <div class="form-group">
        <input type="button" value="Accept" onclick="Index.create()" class="btn btn-primary btn-full">
    </div>
</div>