    <section>
        <h1>Registration</h1>
        <div>
            <p>Customer '{0}' has registered a new account.</p>
            <p>Please click the <a href='{1}' target='_blank'>link</a> to active your account.</p>
            <br><p><b>DT System</b></p>
        </div>
    </section>
    <section>
        <h1>Đăng ký tài khoản</h1>
        <div>
            <p>Khách hàng '{0}' đã đăng ký tài khoản mới.</p>
            <p>Xin vui lòng nhấp vào <a href='{1}' target='_blank'>đây</a> để kích hoạt tài khoản.</p>
            <br><p><b>Hệ thống DT</b></p>
        </div>
    </section>