<h2>@Website.App_LocalResources.LanguageLabel.About</h2>
<div class="form">
    <div class="form-group html-content">
        <p>
            Logicom Public Ltd is an international group of companies, listed on the Main Market of the Cyprus Stock Exchange and a member of the FTSE/CySE20 index. The Group's activities include the distribution of technology products and services, the provision of Integrated IT Networking, Telecom and Business Software solutions, and the execution of large infrastructure projects. Logicom has a physical presence in more than 16 countries, employs over 7​00 professionals, and services more than 10,​000 customers in 30 countries in Europe, Middle East, Gulf, Nor​th Africa, and Asia.
        </p>
    </div>
</div>
